$bg-color: #F1F3F4;
$primary-color: #21A400;
$primary-shade-color: #EFFFEB;
$text-color: #111827;


// Search Vant Component 
$search-bg-color: #FFF;

// Product Card
$product-card-bg-color: #FFF;
$product-img-placeholder-color: #EFFFEB;
$slide-bg-color: $product-img-placeholder-color;

// Button 
$edit-btn-text-color: #7E8BC9;
$delete-btn-text-color: #C95D64;

$category-text-color: #8B8C8D;

// Product Tag 
$product-tag-bg-color-default: #EAEAEA;
$product-tag-bg-color-active: $primary-color;
$product-tag-text-color-default: $text-color;
$product-tag-text-color-active: #FFFFFF;

//Category Card
$category-card-bg-color: #FFF;
$no-of-items-text-color: #8B8C8D;

// button 
$btn-disabled-bg-color: #56724f;


